@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Crimson Text', serif;
    background-color: #FFD7D7;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 300px;
    margin-top: 50px;
}
.div-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid black;
    width: 154px;
    height: 154px;
    border-radius: 50%;
    
}
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
h2 {
    font-weight: 700;
    margin-top: 20px;
}
ul {
    list-style: none;
    margin: 20px 0;
}
li {
    background-color: red;
    margin: 6px 0;
    width: 280px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 700;
}
li:hover {
    background-color: #F74141;
    color: black;
}
a {
    text-decoration: none;
}
footer {
    display: flex;
    justify-content: center;
    font-weight: 500;
}
p {
    font-weight: 700;
    opacity: 0.7;
}